<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <div th:insert="fragments/base::css"></div>
    <title>Proyecto</title>
</head>
<body>

<div class="container mt-5">
    <nav class="navbar navbar-dark bg-primary">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1 text-center">NUEVO PROTECTO</span>
        </div>
    </nav>
    <form action="#" th:action="@{/proyectos/save}" th:object="${proyecto}" method="post">
        <div class="form-group mt-3">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre"
                   th:field="*{nombre}" placeholder="Ingrese el nombre del proyecto">
        </div>
        <div class="form-group mt-2">
            <label for="productOwner">Product Owner</label>
            <select class="form-control" id="productOwner" th:field="*{productOwner}">
                <option th:each="productOwner : ${productOwners}" th:value="${productOwner.id}"
                        th:text="${productOwner.nombre}"></option>
            </select>
        </div>
        <div class="form-group mt-2">
            <label for="cliente">Cliente</label>
            <select class="form-control" id="cliente" name="cliente" th:field="*{cliente}">
                <option th:each="cliente : ${clientes}"
                        th:value="${cliente.id}"
                        th:text="${cliente.nombre}"></option>
            </select>
        </div>
        <div class="form-group mt-2">
            <label for="descripcion">Descripción</label>
            <textarea class="form-control" id="descripcion" name="descripcion"
                      th:field="*{descripcion}" rows="3"></textarea>
        </div>
        <div class="form-group mt-2">
            <label for="fechaInicio">Fecha de Inicio</label>
            <input type="date" class="form-control" id="fechaInicio" name="fechaInicio"
                   th:field="*{fechaInicio}" placeholder="yyyy-MM-dd">
        </div>

        <div class="form-group mt-2">
            <label for="presupuesto">Presupuesto</label>
            <input type="number" class="form-control" id="presupuesto" name="presupuesto"
                   th:field="*{presupuesto}" placeholder="Ingrese el presupuesto">
        </div>

        <div class="form-group mt-2">
            <label for="presupuesto">Desarrolladores</label>
            <select class="form-control" id="participante" name="participante" th:field="*{participantes}" multiple>
                <option th:each="participante : ${participantes}"
                        th:value="${participante.id}"
                        th:text="${participante.nombre}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Guardar</button>
    </form>
</div>

<div th:insert="fragments/base::js"></div>
</body>
</html>